<!-- results from API -->
<div class="container"><p class="h6">Results: <%= totalResults%></p></div>

<!-- Venues results -->
<div class="container">
  <div class="card-columns">
    <% venues.forEach(function(venue){ %>
    <div class="card border-dark">
      <div class="card-body text-dark">
        <h5 class="card-title"><%= venue.name %></h5>
        <p class="card-text">Distance: <%= venue.distance %> km</p>
        <p class="card-text">Address: <%= venue.address %></p>
        <p class="card-text">Category: <%= venue.category %></p>
      </div>
    </div>
    <% }) %>
  </div>
</div>
